{% extends 'intel/base.html' %}

{% block content %}
<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Asset Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Energy</a>
    <a class="dropdown-item" href="#">Financial Services</a>
    <a class="dropdown-item" href="#">Government Services</a>
    <a class="dropdown-item" href="#">Health</a>

  </div>
</div>

<br>

{% endblock %}