{% extends 'intel/base.html' %}


{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Attackers
    </div>
    <div class="col-sm">
      TTPs
    </div>
    <div class="col-sm">
      Targets
    </div>
    <div class="col-sm">
      Operations
    </div>
  </div>
</div>

{% for item in intel %}

  {{ item.name }}


  <br>

{% endfor %}
{% endblock %}